@font-face {
    font-family: 'icomoon';
    src:  url('../font/icomoon.eot?cz5rz7');
    src:  url('../font/icomoon.eot?cz5rz7#iefix') format('embedded-opentype'),
      url('../font/icomoon.ttf?cz5rz7') format('truetype'),
      url('../font/icomoon.woff?cz5rz7') format('woff'),
      url('../font/icomoon.svg?cz5rz7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="ico-"], [class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ico-th-menu:before {
    content: "\e900";
    font-size:1.5em;
  }
  .ico-snapchat-ghost:before {
    content: "\e901";
  }
  .ico-x:before {
    content: "\e902";
  }
  .ico-x-altx-alt:before {
    content: "\e903";
  }
  .ico-home3:before {
    content: "\e904";
  }
  .ico-headphones:before {
    content: "\e910";
  }
  .ico-bullhorn:before {
    content: "\e91a";
  }
  .ico-mic:before {
    content: "\e91e";
  }
  .ico-book:before {
    content: "\e91f";
  }
  .ico-profile:before {
    content: "\e923";
  }
  .ico-file-play:before {
    content: "\e929";
  }
  .ico-folder:before {
    content: "\e92f";
  }
  .ico-folder-open:before {
    content: "\e930";
  }
  .ico-barcode:before {
    content: "\e937";
  }
  .ico-qrcode:before {
    content: "\e938";
  }
  .ico-cart:before {
    content: "\e93a";
  }
  .ico-coin-dollar:before {
    content: "\e93b";
  }
  .ico-credit-card:before {
    content: "\e93f";
  }
  .ico-lifebuoy:before {
    content: "\e941";
  }
  .ico-phone:before {
    content: "\e942";
  }
  .ico-phone-hang-up:before {
    content: "\e943";
  }
  .ico-address-book:before {
    content: "\e944";
  }
  .ico-envelop:before {
    content: "\e945";
  }
  .ico-map:before {
    content: "\e94b";
  }
  .ico-map2:before {
    content: "\e94c";
  }
  .ico-history:before {
    content: "\e94d";
  }
  .ico-clock:before {
    content: "\e94e";
  }
  .ico-clock2:before {
    content: "\e94f";
  }
  .ico-alarm:before {
    content: "\e950";
  }
  .ico-bell:before {
    content: "\e951";
  }
  .ico-stopwatch:before {
    content: "\e952";
  }
  .ico-calendar:before {
    content: "\e953";
  }
  .ico-printer:before {
    content: "\e954";
  }
  .ico-keyboard:before {
    content: "\e955";
  }
  .ico-display:before {
    content: "\e956";
  }
  .ico-laptop:before {
    content: "\e957";
  }
  .ico-mobile:before {
    content: "\e958";
  }
  .ico-mobile2:before {
    content: "\e959";
  }
  .ico-tablet:before {
    content: "\e95a";
  }
  .ico-database:before {
    content: "\e964";
  }
  .ico-user:before {
    content: "\e971";
  }
  .ico-users:before {
    content: "\e972";
  }
  .ico-user-plus:before {
    content: "\e973";
  }
  .ico-user-minus:before {
    content: "\e974";
  }
  .ico-user-check:before {
    content: "\e975";
  }
  .ico-hour-glass:before {
    content: "\e979";
  }
  .ico-spinner:before {
    content: "\e97a";
  }
  .ico-lock:before {
    content: "\e98f";
  }
  .ico-unlocked:before {
    content: "\e990";
  }
  .ico-cog:before {
    content: "\e994";
  }
  .ico-cogs:before {
    content: "\e995";
  }
  .ico-stats-bars:before {
    content: "\e99c";
  }
  .ico-stats-bars2:before {
    content: "\e99d";
  }
  .ico-trophy:before {
    content: "\e99e";
  }
  .ico-glass:before {
    content: "\e9a0";
  }
  .ico-glass2:before {
    content: "\e9a1";
  }
  .ico-mug:before {
    content: "\e9a2";
  }
  .ico-spoon-knife:before {
    content: "\e9a3";
  }
  .ico-leaf:before {
    content: "\e9a4";
  }
  .ico-rocket:before {
    content: "\e9a5";
  }
  .ico-tree:before {
    content: "\e9bc";
  }
  .ico-menu:before {
    content: "\e9bd";
  }
  .ico-star-full:before {
    content: "\e9d9";
  }
  .ico-heart:before {
    content: "\e9da";
  }
  .ico-point-up:before {
    content: "\ea03";
  }
  .ico-point-right:before {
    content: "\ea04";
  }
  .ico-point-down:before {
    content: "\ea05";
  }
  .ico-point-left:before {
    content: "\ea06";
  }
  .ico-enter:before {
    content: "\ea13";
  }
  .ico-exit:before {
    content: "\ea14";
  }
  .ico-play2:before {
    content: "\ea15";
  }
  .ico-pause:before {
    content: "\ea16";
  }
  .ico-stop:before {
    content: "\ea17";
  }
  .ico-previous:before {
    content: "\ea18";
  }
  .ico-next:before {
    content: "\ea19";
  }
  .ico-backward:before {
    content: "\ea1a";
  }
  .ico-forward2:before {
    content: "\ea1b";
  }
  .ico-volume-mute2:before {
    content: "\ea2a";
  }
  .ico-google-plus3:before {
    content: "\ea8d";
  }
  .ico-facebook2:before {
    content: "\ea91";
  }
  .ico-instagram:before {
    content: "\ea92";
  }
  .ico-whatsapp:before {
    content: "\ea93";
  }
  .ico-spotify:before {
    content: "\ea94";
  }
  .ico-telegram:before {
    content: "\ea95";
  }
  .ico-twitter:before {
    content: "\ea96";
  }
  .ico-vine:before {
    content: "\ea97";
  }
  .ico-vk:before {
    content: "\ea98";
  }
  .ico-renren:before {
    content: "\ea99";
  }
  .ico-sina-weibo:before {
    content: "\ea9a";
  }
  .ico-rss:before {
    content: "\ea9b";
  }
  .ico-rss2:before {
    content: "\ea9c";
  }
  .ico-youtube:before {
    content: "\ea9d";
  }
  .ico-vimeo2:before {
    content: "\eaa1";
  }
  .ico-flickr4:before {
    content: "\eaa6";
  }
  .ico-github:before {
    content: "\eab0";
  }
  .ico-tux:before {
    content: "\eabd";
  }
  .ico-android:before {
    content: "\eac0";
  }
  .ico-windows:before {
    content: "\eac1";
  }
  .ico-delicious:before {
    content: "\eacd";
  }
  .ico-pinterest:before {
    content: "\ead1";
  }
  .ico-chrome:before {
    content: "\ead9";
  }
  .ico-firefox:before {
    content: "\eada";
  }
  .ico-IE:before {
    content: "\eadb";
  }
  .ico-file-word:before {
    content: "\eae1";
  }
  .ico-file-excel:before {
    content: "\eae2";
  }
  .ico-git:before {
    content: "\eae7";
  }
  .ico-amazon:before {
    content: "\e90c";
    color: #f90;
  }
  .ico-amazonaws:before {
    content: "\e90d";
  }
  .ico-amd:before {
    content: "\e90e";
    color: #ed1c24;
  }
  .ico-americanexpress:before {
    content: "\e90f";
    color: #2e77bc;
  }
  .ico-android1:before {
    content: "\e911";
    color: #a4c639;
  }
  .ico-angellist:before {
    content: "\e912";
  }
  .ico-angular:before {
    content: "\e913";
    color: #dd0031;
  }
  .ico-angularuniversal:before {
    content: "\e914";
    color: #00acc1;
  }
  .ico-apache:before {
    content: "\e905";
    color: #d22128;
  }
  .ico-apple:before {
    content: "\e915";
    color: #999;
  }
  .ico-applemusic:before {
    content: "\e916";
  }
  .ico-applepay:before {
    content: "\e917";
  }
  .ico-appveyor:before {
    content: "\e918";
    color: #00b3e0;
  }
  .ico-archiveofourown:before {
    content: "\e919";
    color: #900;
  }
  .ico-archlinux:before {
    content: "\e91b";
    color: #1793d1;
  }
  .ico-arduino:before {
    content: "\e91c";
    color: #00979d;
  }
  .ico-artstation:before {
    content: "\e91d";
    color: #13aff0;
  }
  .ico-asana:before {
    content: "\e920";
  }
  .ico-at-and-t:before {
    content: "\e921";
    color: #00a8e0;
  }
  .ico-atlassian:before {
    content: "\e922";
    color: #0052cc;
  }
  .ico-atom:before {
    content: "\e906";
    color: #66595c;
  }
  .ico-audible:before {
    content: "\e924";
    color: #f8991c;
  }
  .ico-aurelia:before {
    content: "\e925";
    color: #ed2b88;
  }
  .ico-auth0:before {
    content: "\e926";
    color: #eb5424;
  }
  .ico-automatic:before {
    content: "\e927";
    color: #7d8084;
  }
  .ico-autotask:before {
    content: "\e928";
    color: #e51937;
  }
  .ico-aventrix:before {
    content: "\e92a";
    color: #09d;
  }
  .ico-azuredevops:before {
    content: "\e92b";
    color: #0078d7;
  }
  .ico-azurepipelines:before {
    content: "\e92c";
    color: #2560e0;
  }
  .ico-baidu:before {
    content: "\e92d";
    color: #2319dc;
  }
  .ico-bamboo:before {
    content: "\e92e";
    color: #0052cc;
  }
  .ico-bandcamp:before {
    content: "\e931";
    color: #408294;
  }
  .ico-basecamp:before {
    content: "\e932";
    color: #5ecc62;
  }
  .ico-bathasu:before {
    content: "\e933";
    color: #00a3e0;
  }
  .ico-beats:before {
    content: "\e934";
    color: #005571;
  }
  .ico-behance:before {
    content: "\e935";
    color: #1769ff;
  }
  .ico-bigcartel:before {
    content: "\e936";
  }
  .ico-bing:before {
    content: "\e939";
    color: #008373;
  }
  .ico-bit:before {
    content: "\e93c";
    color: #73398d;
  }
  .ico-bitbucket:before {
    content: "\e93d";
    color: #0052cc;
  }
  .ico-bitcoin:before {
    content: "\e93e";
    color: #f7931a;
  }
  .ico-bitdefender:before {
    content: "\e940";
    color: #ed1c24;
  }
  .ico-bitly:before {
    content: "\e946";
    color: #ee6123;
  }
  .ico-blender:before {
    content: "\e947";
    color: #f5792a;
  }
  .ico-blogger:before {
    content: "\e948";
    color: #ff5722;
  }
  .ico-boost:before {
    content: "\e949";
    color: #f69220;
  }
  .ico-bootstrap:before {
    content: "\e94a";
    color: #563d7c;
  }
  .ico-bower:before {
    content: "\e95b";
    color: #ef5734;
  }
  .ico-brand-dot-ai:before {
    content: "\e95c";
    color: #0aa0ff;
  }
  .ico-buddy:before {
    content: "\e95d";
    color: #1a86fd;
  }
  .ico-buffer:before {
    content: "\e95e";
    color: #168eea;
  }
  .ico-buymeacoffee:before {
    content: "\e95f";
    color: #ff813f;
  }
  .ico-buzzfeed:before {
    content: "\e960";
    color: #e32;
  }
  .ico-cakephp:before {
    content: "\e961";
    color: #d33c43;
  }
  .ico-campaignmonitor:before {
    content: "\e962";
    color: #509cf6;
  }
  .ico-cashapp:before {
    content: "\e963";
    color: #00c244;
  }
  .ico-castorama:before {
    content: "\e965";
    color: #0078d7;
  }
  .ico-castro:before {
    content: "\e966";
    color: #00b265;
  }
  .ico-cevo:before {
    content: "\e967";
    color: #1eabe2;
  }
  .ico-chase:before {
    content: "\e968";
    color: #117aca;
  }
  .ico-circle:before {
    content: "\e969";
    color: #8669ae;
  }
  .ico-circleci:before {
    content: "\e96a";
  }
  .ico-civicrm:before {
    content: "\e96b";
    color: #81c459;
  }
  .ico-clockify:before {
    content: "\e96c";
    color: #03a9f4;
  }
  .ico-clojure:before {
    content: "\e96d";
    color: #5881d8;
  }
  .ico-cloudflare:before {
    content: "\e96e";
    color: #f38020;
  }
  .ico-cmake:before {
    content: "\e96f";
    color: #064f8c;
  }
  .ico-co-op:before {
    content: "\e970";
    color: #00b1e7;
  }
  .ico-codacy:before {
    content: "\e976";
  }
  .ico-codecademy:before {
    content: "\e977";
    color: #1f4056;
  }
  .ico-codeclimate:before {
    content: "\e978";
  }
  .ico-codecov:before {
    content: "\e97b";
    color: #f01f7a;
  }
  .ico-codeforces:before {
    content: "\e97c";
    color: #1f8acb;
  }
  .ico-codeigniter:before {
    content: "\e97d";
    color: #ee4623;
  }
  .ico-codepen:before {
    content: "\e97e";
  }
  .ico-coderwall:before {
    content: "\e97f";
    color: #3e8dcc;
  }
  .ico-codesandbox:before {
    content: "\e980";
  }
  .ico-codeship:before {
    content: "\e981";
    color: #3c4858;
  }
  .ico-codewars:before {
    content: "\e982";
    color: #ad2c27;
  }
  .ico-codio:before {
    content: "\e983";
    color: #4574e0;
  }
  .ico-coffeescript:before {
    content: "\e984";
  }
  .ico-commonworkflowlanguage:before {
    content: "\e985";
    color: #b5314c;
  }
  .ico-compropago:before {
    content: "\e986";
    color: #00aaef;
  }
  .ico-conda-forge:before {
    content: "\e987";
  }
  .ico-conekta:before {
    content: "\e988";
    color: #414959;
  }
  .ico-confluence:before {
    content: "\e989";
  }
  .ico-coursera:before {
    content: "\e98a";
    color: #2a73cc;
  }
  .ico-cplusplus:before {
    content: "\e98b";
    color: #00599c;
  }
  .ico-creativecommons:before {
    content: "\e98c";
    color: #ef9421;
  }
  .ico-crunchbase:before {
    content: "\e98d";
    color: #0288d1;
  }
  .ico-css3:before {
    content: "\e98e";
    color: #1572b6;
  }
  .ico-csswizardry:before {
    content: "\e991";
    color: #f43059;
  }
  .ico-d3-dot-js:before {
    content: "\e992";
    color: #f9a03c;
  }
  .ico-dailymotion:before {
    content: "\e993";
    color: #0066dc;
  }
  .ico-dazn:before {
    content: "\e996";
    color: #f8f8f5;
  }
  .ico-dblp:before {
    content: "\e997";
    color: #004f9f;
  }
  .ico-debian:before {
    content: "\e998";
    color: #a81d33;
  }
  .ico-deezer:before {
    content: "\e999";
    color: #00c7f2;
  }
  .ico-delicious1:before {
    content: "\e99a";
    color: #39f;
  }
  .ico-dell:before {
    content: "\e99b";
    color: #007db8;
  }
  .ico-deno:before {
    content: "\e99f";
  }
  .ico-dependabot:before {
    content: "\e9a6";
    color: #025e8c;
  }
  .ico-designernews:before {
    content: "\e9a7";
    color: #2d72d9;
  }
  .ico-dev-dot-to:before {
    content: "\e9a8";
  }
  .ico-deviantart:before {
    content: "\e9a9";
    color: #05cc47;
  }
  .ico-devrant:before {
    content: "\e9aa";
    color: #f99a66;
  }
  .ico-diaspora:before {
    content: "\e9ab";
  }
  .ico-digg:before {
    content: "\e9ac";
  }
  .ico-digitalocean:before {
    content: "\e9ad";
    color: #0080ff;
  }
  .ico-discord:before {
    content: "\e9ae";
    color: #7289da;
  }
  .ico-discourse:before {
    content: "\e9af";
  }
  .ico-discover:before {
    content: "\e9b0";
    color: #ff6000;
  }
  .ico-disqus:before {
    content: "\e9b1";
    color: #2e9fff;
  }
  .ico-disroot:before {
    content: "\e9b2";
    color: #50162d;
  }
  .ico-django:before {
    content: "\e9b3";
  }
  .ico-docker:before {
    content: "\e907";
    color: #1488c6;
  }
  .ico-docusign:before {
    content: "\e9b4";
    color: #fc2;
  }
  .ico-dot-net:before {
    content: "\e9b5";
    color: #5c2d91;
  }
  .ico-draugiem-dot-lv:before {
    content: "\e9b6";
    color: #f60;
  }
  .ico-dribbble:before {
    content: "\e9b7";
    color: #ea4c89;
  }
  .ico-drone:before {
    content: "\e9b8";
  }
  .ico-dropbox:before {
    content: "\e908";
    color: #0061ff;
  }
  .ico-drupal:before {
    content: "\e9b9";
    color: #0678be;
  }
  .ico-dtube:before {
    content: "\e9ba";
    color: #f00;
  }
  .ico-duckduckgo:before {
    content: "\e9bb";
    color: #de5833;
  }
  .ico-ebay:before {
    content: "\e9be";
    color: #e53238;
  }
  .ico-eclipseide:before {
    content: "\e9bf";
    color: #2c2255;
  }
  .ico-elastic:before {
    content: "\e9c0";
    color: #005571;
  }
  .ico-elasticcloud:before {
    content: "\e9c1";
    color: #005571;
  }
  .ico-elasticsearch:before {
    content: "\e9c2";
    color: #005571;
  }
  .ico-elasticstack:before {
    content: "\e9c3";
    color: #005571;
  }
  .ico-electron:before {
    content: "\e909";
    color: #47848f;
  }
  .ico-elementary:before {
    content: "\e9c4";
    color: #64baff;
  }
  .ico-ello:before {
    content: "\e9c5";
  }
  .ico-empirekred:before {
    content: "\e9c6";
    color: #72be50;
  }
  .ico-envato:before {
    content: "\e9c7";
    color: #81b441;
  }
  .ico-esea:before {
    content: "\e9c8";
    color: #0e9648;
  }
  .ico-eslint:before {
    content: "\e9c9";
    color: #4b32c3;
  }
  .ico-ethereum:before {
    content: "\e9ca";
  }
  .ico-etsy:before {
    content: "\e9cb";
    color: #f16521;
  }
  .ico-eventbrite:before {
    content: "\e9cc";
    color: #f05537;
  }
  .ico-eventstore:before {
    content: "\e9cd";
    color: #5ab552;
  }
  .ico-evernote:before {
    content: "\e9ce";
    color: #00a82d;
  }
  .ico-everplaces:before {
    content: "\e9cf";
    color: #fa4b32;
  }
  .ico-evry:before {
    content: "\e9d0";
    color: #063a54;
  }
  .ico-expertsexchange:before {
    content: "\e9d1";
    color: #00aae7;
  }
  .ico-f-secure:before {
    content: "\e9d2";
    color: #00baff;
  }
  .ico-facebook:before {
    content: "\e90a";
    color: #4172b8;
  }
  .ico-faceit:before {
    content: "\e9d3";
    color: #f50;
  }
  .ico-fandango:before {
    content: "\e9d4";
    color: #ff7300;
  }
  .ico-favro:before {
    content: "\e9d5";
    color: #512da8;
  }
  .ico-feathub:before {
    content: "\e9d6";
    color: #9b9b9b;
  }
  .ico-fedora:before {
    content: "\e9d7";
    color: #294172;
  }
  .ico-feedly:before {
    content: "\e9d8";
    color: #2bb24c;
  }
  .ico-fidoalliance:before {
    content: "\e9db";
    color: #ffbf3b;
  }
  .ico-figma:before {
    content: "\e9dc";
    color: #f24e1e;
  }
  .ico-filezilla:before {
    content: "\e9dd";
    color: #bf0000;
  }
  .ico-firebase:before {
    content: "\e9de";
    color: #ffca28;
  }
  .ico-fitbit:before {
    content: "\e9df";
    color: #00b0b9;
  }
  .ico-flask:before {
    content: "\e9e0";
  }
  .ico-flattr:before {
    content: "\e9e1";
  }
  .ico-flickr:before {
    content: "\e9e2";
    color: #0063dc;
  }
  .ico-flipboard:before {
    content: "\e9e3";
    color: #e12828;
  }
  .ico-flutter:before {
    content: "\e9e4";
    color: #02569b;
  }
  .ico-fnac:before {
    content: "\e9e5";
    color: #e1a925;
  }
  .ico-foursquare:before {
    content: "\e9e6";
    color: #f94877;
  }
  .ico-framer:before {
    content: "\e9e7";
    color: #05f;
  }
  .ico-freebsd:before {
    content: "\e9e8";
    color: #ab2b28;
  }
  .ico-freecodecamp:before {
    content: "\e9e9";
    color: #006400;
  }
  .ico-furaffinity:before {
    content: "\e9ea";
    color: #faaf3a;
  }
  .ico-furrynetwork:before {
    content: "\e9eb";
    color: #2e75b4;
  }
  .ico-garmin:before {
    content: "\e9ec";
    color: #007cc3;
  }
  .ico-gatsby:before {
    content: "\e9ed";
    color: #639;
  }
  .ico-gauges:before {
    content: "\e9ee";
    color: #2fa66a;
  }
  .ico-geocaching:before {
    content: "\e9ef";
    color: #00874d;
  }
  .ico-gerrit:before {
    content: "\e9f0";
    color: #eee;
  }
  .ico-ghost:before {
    content: "\e9f1";
    color: #738a94;
  }
  .ico-git1:before {
    content: "\e9f2";
    color: #f05032;
  }
  .ico-github1:before {
    content: "\e9f3";
  }
  .ico-gitlab:before {
    content: "\e9f4";
    color: #e24329;
  }
  .ico-gitter:before {
    content: "\e9f5";
    color: #ed1965;
  }
  .ico-glassdoor:before {
    content: "\e9f6";
    color: #0caa41;
  }
  .ico-gmail:before {
    content: "\e9f7";
    color: #d14836;
  }
  .ico-gnu:before {
    content: "\e9f8";
    color: #a42e2b;
  }
  .ico-gnusocial:before {
    content: "\e9f9";
    color: #a22430;
  }
  .ico-go:before {
    content: "\e9fa";
    color: #76e1fe;
  }
  .ico-gog-dot-com:before {
    content: "\e9fb";
    color: #86328a;
  }
  .ico-goldenline:before {
    content: "\e9fc";
    color: #f1b92b;
  }
  .ico-goodreads:before {
    content: "\e9fd";
    color: #630;
  }
  .ico-google:before {
    content: "\e9fe";
    color: #4285f4;
  }
  .ico-googleallo:before {
    content: "\e9ff";
    color: #ecb842;
  }
  .ico-googleanalytics:before {
    content: "\ea00";
    color: #ffc107;
  }
  .ico-googlechrome:before {
    content: "\ea01";
    color: #4285f4;
  }
  .ico-googledrive:before {
    content: "\ea02";
    color: #4285f4;
  }
  .ico-googlehangouts:before {
    content: "\ea07";
    color: #0c9d58;
  }
  .ico-googlehangoutschat:before {
    content: "\ea08";
    color: #00897b;
  }
  .ico-googlekeep:before {
    content: "\ea09";
    color: #fb0;
  }
  .ico-googlepay:before {
    content: "\ea0a";
    color: #5f6368;
  }
  .ico-googleplay:before {
    content: "\ea0b";
    color: #607d8b;
  }
  .ico-googleplus:before {
    content: "\ea0c";
    color: #dc4e41;
  }
  .ico-googlepodcasts:before {
    content: "\ea0d";
    color: #4285f4;
  }
  .ico-gov-dot-uk:before {
    content: "\ea0e";
    color: #005ea5;
  }
  .ico-grafana:before {
    content: "\ea0f";
    color: #f46800;
  }
  .ico-graphcool:before {
    content: "\ea10";
    color: #27ae60;
  }
  .ico-graphql:before {
    content: "\ea11";
    color: #e10098;
  }
  .ico-grav:before {
    content: "\ea12";
  }
  .ico-gravatar:before {
    content: "\ea1c";
    color: #1e8cbe;
  }
  .ico-greenkeeper:before {
    content: "\ea1d";
    color: #00c775;
  }
  .ico-groupon:before {
    content: "\ea1e";
    color: #53a318;
  }
  .ico-gulp:before {
    content: "\ea1f";
    color: #da4648;
  }
  .ico-gumroad:before {
    content: "\ea20";
    color: #36a9ae;
  }
  .ico-gumtree:before {
    content: "\ea21";
    color: #72ef36;
  }
  .ico-hackaday:before {
    content: "\ea22";
  }
  .ico-hackerearth:before {
    content: "\ea23";
    color: #323754;
  }
  .ico-hackerrank:before {
    content: "\ea24";
    color: #2ec866;
  }
  .ico-hackhands:before {
    content: "\ea25";
    color: #00acbd;
  }
  .ico-hackster:before {
    content: "\ea26";
    color: #1bacf7;
  }
  .ico-hashnode:before {
    content: "\ea27";
    color: #2962ff;
  }
  .ico-haskell:before {
    content: "\ea28";
    color: #5d4f85;
  }
  .ico-hatenabookmark:before {
    content: "\ea29";
    color: #00a4de;
  }
  .ico-here:before {
    content: "\ea2b";
    color: #48dad0;
  }
  .ico-heroku:before {
    content: "\ea2c";
    color: #430098;
  }
  .ico-hexo:before {
    content: "\ea2d";
    color: #0e83cd;
  }
  .ico-highly:before {
    content: "\ea2e";
    color: #ff3c00;
  }
  .ico-hipchat:before {
    content: "\ea2f";
    color: #0052cc;
  }
  .ico-hockeyapp:before {
    content: "\ea30";
    color: #009ee1;
  }
  .ico-homify:before {
    content: "\ea31";
    color: #7dcda3;
  }
  .ico-hootsuite:before {
    content: "\ea32";
  }
  .ico-houzz:before {
    content: "\ea33";
    color: #7ac142;
  }
  .ico-html5:before {
    content: "\ea34";
    color: #e34f26;
  }
  .ico-huawei:before {
    content: "\ea35";
    color: #f00;
  }
  .ico-hubspot:before {
    content: "\ea36";
    color: #ff7a59;
  }
  .ico-hulu:before {
    content: "\ea37";
    color: #3dbb3d;
  }
  .ico-humblebundle:before {
    content: "\ea38";
    color: #cc2929;
  }
  .ico-icloud:before {
    content: "\ea39";
    color: #3693f3;
  }
  .ico-iconjar:before {
    content: "\ea3a";
    color: #16a5f3;
  }
  .ico-icq:before {
    content: "\ea3b";
    color: #7ebd00;
  }
  .ico-ifixit:before {
    content: "\ea3c";
    color: #0071ce;
  }
  .ico-imdb:before {
    content: "\ea3d";
    color: #e6b91e;
  }
  .ico-inkscape:before {
    content: "\ea3e";
  }
  .ico-instacart:before {
    content: "\ea3f";
    color: #43b02a;
  }
  .ico-instagram1:before {
    content: "\ea40";
    color: #e4405f;
  }
  .ico-instapaper:before {
    content: "\ea41";
  }
  .ico-intel:before {
    content: "\ea42";
    color: #0071c5;
  }
  .ico-intercom:before {
    content: "\ea43";
    color: #1f8ded;
  }
  .ico-internetexplorer:before {
    content: "\ea44";
    color: #0076d6;
  }
  .ico-invision:before {
    content: "\ea45";
    color: #f36;
  }
  .ico-ionic:before {
    content: "\ea46";
    color: #3880ff;
  }
  .ico-itch-dot-io:before {
    content: "\ea47";
    color: #fa5c5c;
  }
  .ico-jabber:before {
    content: "\ea48";
    color: #c00;
  }
  .ico-java:before {
    content: "\ea49";
    color: #007396;
  }
  .ico-javascript:before {
    content: "\ea4a";
    color: #f7df1e;
  }
  .ico-jekyll:before {
    content: "\ea4b";
    color: #c00;
  }
  .ico-jenkins:before {
    content: "\ea4c";
    color: #d24939;
  }
  .ico-jest:before {
    content: "\ea4d";
    color: #c21325;
  }
  .ico-jira:before {
    content: "\ea4e";
  }
  .ico-joomla:before {
    content: "\ea4f";
    color: #5091cd;
  }
  .ico-jquery:before {
    content: "\ea50";
    color: #0769ad;
  }
  .ico-jsdelivr:before {
    content: "\ea51";
    color: #e84d3d;
  }
  .ico-jsfiddle:before {
    content: "\ea52";
    color: #4679a4;
  }
  .ico-json:before {
    content: "\ea53";
  }
  .ico-jupyter:before {
    content: "\ea54";
    color: #f37626;
  }
  .ico-justgiving:before {
    content: "\ea55";
    color: #ad29b6;
  }
  .ico-kaggle:before {
    content: "\ea56";
    color: #20beff;
  }
  .ico-kaios:before {
    content: "\ea57";
    color: #6f02b5;
  }
  .ico-kentico:before {
    content: "\ea58";
    color: #f05a22;
  }
  .ico-keybase:before {
    content: "\ea59";
    color: #33a0ff;
  }
  .ico-keycdn:before {
    content: "\ea5a";
    color: #3686be;
  }
  .ico-khanacademy:before {
    content: "\ea5b";
    color: #9db63b;
  }
  .ico-kibana:before {
    content: "\ea5c";
    color: #005571;
  }
  .ico-kickstarter:before {
    content: "\ea5d";
    color: #2bde73;
  }
  .ico-kik:before {
    content: "\ea5e";
    color: #82bc23;
  }
  .ico-kirby:before {
    content: "\ea5f";
    color: #ff0100;
  }
  .ico-klout:before {
    content: "\ea60";
    color: #e44600;
  }
  .ico-known:before {
    content: "\ea61";
  }
  .ico-ko-fi:before {
    content: "\ea62";
    color: #f16061;
  }
  .ico-koding:before {
    content: "\ea63";
    color: #00b057;
  }
  .ico-kotlin:before {
    content: "\ea64";
    color: #0095d5;
  }
  .ico-kubernetes:before {
    content: "\ea65";
    color: #326ce5;
  }
  .ico-lanyrd:before {
    content: "\ea66";
    color: #3c80ca;
  }
  .ico-laravel:before {
    content: "\ea67";
    color: #e74430;
  }
  .ico-laravelhorizon:before {
    content: "\ea68";
    color: #405263;
  }
  .ico-last-dot-fm:before {
    content: "\ea69";
    color: #d51007;
  }
  .ico-launchpad:before {
    content: "\ea6a";
    color: #f8c300;
  }
  .ico-leetcode:before {
    content: "\ea6b";
    color: #f89f1b;
  }
  .ico-letsencrypt:before {
    content: "\ea6c";
    color: #003a70;
  }
  .ico-letterboxd:before {
    content: "\ea6d";
    color: #00d735;
  }
  .ico-lgtm:before {
    content: "\ea6e";
    color: #fff;
  }
  .ico-liberapay:before {
    content: "\ea6f";
    color: #f6c915;
  }
  .ico-librarything:before {
    content: "\ea70";
  }
  .ico-line:before {
    content: "\ea71";
    color: #00c300;
  }
  .ico-linewebtoon:before {
    content: "\ea72";
    color: #00d564;
  }
  .ico-linkedin:before {
    content: "\ea73";
    color: #0077b5;
  }
  .ico-linux:before {
    content: "\ea74";
    color: #fcc624;
  }
  .ico-linuxfoundation:before {
    content: "\ea75";
    color: #009bee;
  }
  .ico-linuxmint:before {
    content: "\ea76";
    color: #87cf3e;
  }
  .ico-livejournal:before {
    content: "\ea77";
    color: #00b0ea;
  }
  .ico-livestream:before {
    content: "\ea78";
    color: #cf202e;
  }
  .ico-logstash:before {
    content: "\ea79";
    color: #005571;
  }
  .ico-lua:before {
    content: "\ea7a";
    color: #2c2d72;
  }
  .ico-macys:before {
    content: "\ea7b";
    color: #e21a2c;
  }
  .ico-magento:before {
    content: "\ea7c";
    color: #ee672f;
  }
  .ico-magisk:before {
    content: "\ea7d";
    color: #00af9c;
  }
  .ico-mail-dot-ru:before {
    content: "\ea7e";
    color: #168de2;
  }
  .ico-mailchimp:before {
    content: "\ea7f";
    color: #ffe01b;
  }
  .ico-makerbot:before {
    content: "\ea80";
    color: #ff1e0d;
  }
  .ico-manjaro:before {
    content: "\ea81";
    color: #35bf5c;
  }
  .ico-markdown:before {
    content: "\ea82";
  }
  .ico-marketo:before {
    content: "\ea83";
    color: #5c4c9f;
  }
  .ico-mastercard:before {
    content: "\ea84";
    color: #eb001b;
  }
  .ico-mastodon:before {
    content: "\ea85";
    color: #3088d4;
  }
  .ico-materialdesign:before {
    content: "\ea86";
    color: #757575;
  }
  .ico-mathworks:before {
    content: "\ea87";
    color: #0076a8;
  }
  .ico-matrix:before {
    content: "\ea88";
  }
  .ico-matternet:before {
    content: "\ea89";
  }
  .ico-mediafire:before {
    content: "\ea8a";
    color: #1299f3;
  }
  .ico-mediatemple:before {
    content: "\ea8b";
  }
  .ico-medium:before {
    content: "\ea8c";
  }
  .ico-meetup:before {
    content: "\ea8e";
    color: #ed1c40;
  }
  .ico-mega:before {
    content: "\ea8f";
    color: #d9272e;
  }
  .ico-messenger:before {
    content: "\ea90";
    color: #00b2ff;
  }
  .ico-meteor:before {
    content: "\ea9e";
    color: #de4f4f;
  }
  .ico-micro-dot-blog:before {
    content: "\ea9f";
    color: #fd8308;
  }
  .ico-microgenetics:before {
    content: "\eaa0";
    color: #f00;
  }
  .ico-microsoft:before {
    content: "\eaa2";
    color: #666;
  }
  .ico-microsoftaccess:before {
    content: "\eaa3";
    color: #ba141a;
  }
  .ico-microsoftazure:before {
    content: "\eaa4";
    color: #0089d6;
  }
  .ico-microsoftedge:before {
    content: "\eaa5";
    color: #0078d7;
  }
  .ico-microsoftexcel:before {
    content: "\eaa7";
    color: #217346;
  }
  .ico-microsoftonedrive:before {
    content: "\eaa8";
    color: #094ab2;
  }
  .ico-microsoftonenote:before {
    content: "\eaa9";
    color: #80397b;
  }
  .ico-microsoftoutlook:before {
    content: "\eaaa";
    color: #0072c6;
  }
  .ico-microsoftpowerpoint:before {
    content: "\eaab";
    color: #d24726;
  }
  .ico-microsoftword:before {
    content: "\eaac";
    color: #2b579a;
  }
  .ico-minutemailer:before {
    content: "\eaad";
    color: #3abfe6;
  }
  .ico-mix:before {
    content: "\eaae";
    color: #ff8126;
  }
  .ico-mixcloud:before {
    content: "\eaaf";
    color: #314359;
  }
  .ico-mixer:before {
    content: "\eab1";
    color: #002050;
  }
  .ico-monero:before {
    content: "\eab2";
    color: #f60;
  }
  .ico-mongodb:before {
    content: "\eab3";
    color: #47a248;
  }
  .ico-monkeytie:before {
    content: "\eab4";
    color: #ffc619;
  }
  .ico-monogram:before {
    content: "\eab5";
    color: #fdb22a;
  }
  .ico-monzo:before {
    content: "\eab6";
  }
  .ico-moo:before {
    content: "\eab7";
    color: #00945e;
  }
  .ico-mozilla:before {
    content: "\eab8";
  }
  .ico-mozillafirefox:before {
    content: "\eab9";
    color: #ff9400;
  }
  .ico-mxlinux:before {
    content: "\eaba";
  }
  .ico-myspace:before {
    content: "\eabb";
  }
  .ico-mysql:before {
    content: "\eabc";
    color: #4479a1;
  }
  .ico-nativescript:before {
    content: "\eabe";
    color: #3655ff;
  }
  .ico-neo4j:before {
    content: "\eabf";
    color: #008cc1;
  }
  .ico-netflix:before {
    content: "\eac2";
    color: #e50914;
  }
  .ico-netlify:before {
    content: "\eac3";
    color: #00c7b7;
  }
  .ico-next-dot-js:before {
    content: "\eac4";
  }
  .ico-nextcloud:before {
    content: "\eac5";
    color: #0082c9;
  }
  .ico-nextdoor:before {
    content: "\eac6";
    color: #00b246;
  }
  .ico-nginx:before {
    content: "\eac7";
    color: #269539;
  }
  .ico-nintendo:before {
    content: "\eac8";
    color: #8f8f8f;
  }
  .ico-nintendogamecube:before {
    content: "\eac9";
    color: #6a5fbb;
  }
  .ico-nintendoswitch:before {
    content: "\eaca";
    color: #e60012;
  }
  .ico-node-dot-js:before {
    content: "\eacb";
    color: #393;
  }
  .ico-nodemon:before {
    content: "\eacc";
    color: #76d04b;
  }
  .ico-npm:before {
    content: "\eace";
    color: #cb3837;
  }
  .ico-nucleo:before {
    content: "\eacf";
    color: #766dcc;
  }
  .ico-nuget:before {
    content: "\ead0";
    color: #004880;
  }
  .ico-nuxt-dot-js:before {
    content: "\ead2";
    color: #00c58e;
  }
  .ico-nvidia:before {
    content: "\ead3";
    color: #76b900;
  }
  .ico-octopusdeploy:before {
    content: "\ead4";
    color: #2f93e0;
  }
  .ico-oculus:before {
    content: "\ead5";
  }
  .ico-odnoklassniki:before {
    content: "\ead6";
    color: #f4731c;
  }
  .ico-openaccess:before {
    content: "\ead7";
    color: #f68212;
  }
  .ico-openstreetmap:before {
    content: "\ead8";
    color: #7ebc6f;
  }
  .ico-opensuse:before {
    content: "\eadc";
    color: #73ba25;
  }
  .ico-opera:before {
    content: "\eadd";
    color: #ff1b2d;
  }
  .ico-opsgenie:before {
    content: "\eade";
  }
  .ico-oracle:before {
    content: "\eadf";
    color: #f80000;
  }
  .ico-origin:before {
    content: "\eae0";
    color: #f56c2d;
  }
  .ico-osmc:before {
    content: "\eae3";
  }
  .ico-overcast:before {
    content: "\eae4";
    color: #fc7e0f;
  }
  .ico-ovh:before {
    content: "\eae5";
    color: #123f6d;
  }
  .ico-pagekit:before {
    content: "\eae6";
  }
  .ico-pandora:before {
    content: "\eae8";
    color: #005483;
  }
  .ico-patreon:before {
    content: "\eae9";
    color: #f96854;
  }
  .ico-paypal:before {
    content: "\eaea";
    color: #00457c;
  }
  .ico-periscope:before {
    content: "\eaeb";
    color: #40a4c4;
  }
  .ico-php:before {
    content: "\eaec";
    color: #777bb4;
  }
  .ico-picarto-dot-tv:before {
    content: "\eaed";
    color: #1da456;
  }
  .ico-pinboard:before {
    content: "\eaee";
    color: #00f;
  }
  .ico-pingdom:before {
    content: "\eaef";
    color: #fff000;
  }
  .ico-pingup:before {
    content: "\eaf0";
    color: #00b1ab;
  }
  .ico-pinterest1:before {
    content: "\eaf1";
    color: #bd081c;
  }
  .ico-pivotaltracker:before {
    content: "\eaf2";
    color: #517a9e;
  }
  .ico-plangrid:before {
    content: "\eaf3";
    color: #0085de;
  }
  .ico-player-dot-me:before {
    content: "\eaf4";
    color: #c0379a;
  }
  .ico-playstation:before {
    content: "\eaf5";
    color: #003791;
  }
  .ico-playstation3:before {
    content: "\eaf6";
    color: #003791;
  }
  .ico-playstation4:before {
    content: "\eaf7";
    color: #003791;
  }
  .ico-plex:before {
    content: "\eaf8";
    color: #e5a00d;
  }
  .ico-pluralsight:before {
    content: "\eaf9";
    color: #f15b2a;
  }
  .ico-plurk:before {
    content: "\eafa";
    color: #ff574d;
  }
  .ico-pocket:before {
    content: "\eafb";
    color: #ef3f56;
  }
  .ico-podcasts:before {
    content: "\eafc";
    color: #93c;
  }
  .ico-postgresql:before {
    content: "\eafd";
    color: #336791;
  }
  .ico-postman:before {
    content: "\eafe";
    color: #ff6c37;
  }
  .ico-powershell:before {
    content: "\eaff";
    color: #5391fe;
  }
  .ico-prismic:before {
    content: "\eb00";
    color: #484a7a;
  }
  .ico-probot:before {
    content: "\eb01";
    color: #00b0d8;
  }
  .ico-processwire:before {
    content: "\eb02";
    color: #ef145f;
  }
  .ico-producthunt:before {
    content: "\eb03";
    color: #da552f;
  }
  .ico-proto-dot-io:before {
    content: "\eb04";
    color: #34a7c1;
  }
  .ico-protonmail:before {
    content: "\eb05";
    color: #8b89cc;
  }
  .ico-proxmox:before {
    content: "\eb06";
    color: #e57000;
  }
  .ico-pypi:before {
    content: "\eb07";
    color: #3775a9;
  }
  .ico-python:before {
    content: "\eb08";
    color: #3776ab;
  }
  .ico-qiita:before {
    content: "\eb09";
    color: #55c500;
  }
  .ico-qualcomm:before {
    content: "\eb0a";
    color: #3253dc;
  }
  .ico-quantcast:before {
    content: "\eb0b";
  }
  .ico-quantopian:before {
    content: "\eb0c";
    color: #c50000;
  }
  .ico-quora:before {
    content: "\eb0d";
    color: #b92b27;
  }
  .ico-qwiklabs:before {
    content: "\eb0e";
    color: #f5cd0e;
  }
  .ico-qzone:before {
    content: "\eb0f";
    color: #fece00;
  }
  .ico-r:before {
    content: "\eb10";
    color: #276dc3;
  }
  .ico-rails:before {
    content: "\eb11";
    color: #c00;
  }
  .ico-raspberrypi:before {
    content: "\eb12";
    color: #c51a4a;
  }
  .ico-react:before {
    content: "\e90b";
    color: #61dafb;
  }
  .ico-readthedocs:before {
    content: "\eb13";
    color: #8ca1af;
  }
  .ico-reason:before {
    content: "\eb14";
    color: #dd4b39;
  }
  .ico-redbubble:before {
    content: "\eb15";
    color: #e41321;
  }
  .ico-reddit:before {
    content: "\eb16";
    color: #ff4500;
  }
  .ico-redhat:before {
    content: "\eb17";
    color: #e00;
  }
  .ico-redis:before {
    content: "\eb18";
    color: #d82c20;
  }
  .ico-redux:before {
    content: "\eb19";
    color: #764abc;
  }
  .ico-renren1:before {
    content: "\eb1a";
    color: #217dc6;
  }
  .ico-reverbnation:before {
    content: "\eb1b";
    color: #e43526;
  }
  .ico-riot:before {
    content: "\eb1c";
    color: #368bd6;
  }
  .ico-riseup:before {
    content: "\eb1d";
    color: #5e9ee3;
  }
  .ico-rollup-dot-js:before {
    content: "\eb1e";
    color: #ec4a3f;
  }
  .ico-roots:before {
    content: "\eb1f";
    color: #525ddc;
  }
  .ico-rss1:before {
    content: "\eb20";
    color: #ffa500;
  }
  .ico-ruby:before {
    content: "\eb21";
    color: #cc342d;
  }
  .ico-rubygems:before {
    content: "\eb22";
    color: #e9573f;
  }
  .ico-runkeeper:before {
    content: "\eb23";
    color: #2dc9d7;
  }
  .ico-rust:before {
    content: "\eb24";
  }
  .ico-safari:before {
    content: "\eb25";
  }
  .ico-salesforce:before {
    content: "\eb26";
    color: #00a1e0;
  }
  .ico-samsung:before {
    content: "\eb27";
    color: #1428a0;
  }
  .ico-samsungpay:before {
    content: "\eb28";
    color: #1428a0;
  }
  .ico-sap:before {
    content: "\eb29";
    color: #008fd3;
  }
  .ico-sass:before {
    content: "\eb2a";
    color: #c69;
  }
  .ico-saucelabs:before {
    content: "\eb2b";
    color: #e2231a;
  }
  .ico-scala:before {
    content: "\eb2c";
    color: #dc322f;
  }
  .ico-scaleway:before {
    content: "\eb2d";
    color: #4f0599;
  }
  .ico-scribd:before {
    content: "\eb2e";
    color: #1a7bba;
  }
  .ico-scrutinizerci:before {
    content: "\eb2f";
    color: #8a9296;
  }
  .ico-sega:before {
    content: "\eb30";
    color: #0089cf;
  }
  .ico-sellfy:before {
    content: "\eb31";
    color: #21b352;
  }
  .ico-sensu:before {
    content: "\eb32";
    color: #89c967;
  }
  .ico-sentry:before {
    content: "\eb33";
    color: #fb4226;
  }
  .ico-serverfault:before {
    content: "\eb34";
    color: #e7282d;
  }
  .ico-shazam:before {
    content: "\eb35";
    color: #08f;
  }
  .ico-shopify:before {
    content: "\eb36";
    color: #7ab55c;
  }
  .ico-signal:before {
    content: "\eb37";
    color: #2592e9;
  }
  .ico-simpleicons:before {
    content: "\eb38";
  }
  .ico-sinaweibo:before {
    content: "\eb39";
    color: #e6162d;
  }
  .ico-sitepoint:before {
    content: "\eb3a";
    color: #258aaf;
  }
  .ico-skyliner:before {
    content: "\eb3b";
    color: #2fcea0;
  }
  .ico-skype:before {
    content: "\eb3c";
    color: #00aff0;
  }
  .ico-slack:before {
    content: "\eb3d";
    color: #4a154b;
  }
  .ico-slashdot:before {
    content: "\eb3e";
    color: #026664;
  }
  .ico-slickpic:before {
    content: "\eb3f";
    color: #ff880f;
  }
  .ico-slides:before {
    content: "\eb40";
    color: #e4637c;
  }
  .ico-smashingmagazine:before {
    content: "\eb41";
    color: #e85c33;
  }
  .ico-snapchat:before {
    content: "\eb42";
    color: #fffc00;
  }
  .ico-snapcraft:before {
    content: "\eb43";
    color: #82bea0;
  }
  .ico-snyk:before {
    content: "\eb44";
    color: #4c4a73;
  }
  .ico-society6:before {
    content: "\eb45";
  }
  .ico-sogou:before {
    content: "\eb46";
    color: #fb6022;
  }
  .ico-songkick:before {
    content: "\eb47";
    color: #f80046;
  }
  .ico-soundcloud:before {
    content: "\eb48";
    color: #f30;
  }
  .ico-sourceforge:before {
    content: "\eb49";
    color: #535353;
  }
  .ico-sourcegraph:before {
    content: "\eb4a";
    color: #00b4f2;
  }
  .ico-spacemacs:before {
    content: "\eb4b";
    color: #9266cc;
  }
  .ico-sparkfun:before {
    content: "\eb4c";
    color: #e53525;
  }
  .ico-sparkpost:before {
    content: "\eb4d";
    color: #fa6423;
  }
  .ico-spdx:before {
    content: "\eb4e";
    color: #4398cc;
  }
  .ico-speakerdeck:before {
    content: "\eb4f";
    color: #396;
  }
  .ico-spotify1:before {
    content: "\eb50";
    color: #1ed760;
  }
  .ico-spotlight:before {
    content: "\eb51";
    color: #352a71;
  }
  .ico-spreaker:before {
    content: "\eb52";
    color: #f5c300;
  }
  .ico-sprint:before {
    content: "\eb53";
    color: #ffce0a;
  }
  .ico-squarespace:before {
    content: "\eb54";
  }
  .ico-stackexchange:before {
    content: "\eb55";
    color: #1e5397;
  }
  .ico-stackoverflow:before {
    content: "\eb56";
    color: #fe7a16;
  }
  .ico-stackshare:before {
    content: "\eb57";
    color: #0690fa;
  }
  .ico-stadia:before {
    content: "\eb58";
    color: #cd2640;
  }
  .ico-statamic:before {
    content: "\eb59";
  }
  .ico-staticman:before {
    content: "\eb5a";
  }
  .ico-statuspage:before {
    content: "\eb5b";
  }
  .ico-steam:before {
    content: "\eb5c";
  }
  .ico-steem:before {
    content: "\eb5d";
    color: #4ba2f2;
  }
  .ico-steemit:before {
    content: "\eb5e";
    color: #06d6a9;
  }
  .ico-stitcher:before {
    content: "\eb5f";
  }
  .ico-storify:before {
    content: "\eb60";
    color: #3a98d9;
  }
  .ico-strava:before {
    content: "\eb61";
    color: #fc4c02;
  }
  .ico-stripe:before {
    content: "\eb62";
    color: #008cdd;
  }
  .ico-stubhub:before {
    content: "\eb63";
    color: #003168;
  }
  .ico-styleshare:before {
    content: "\eb64";
  }
  .ico-stylus:before {
    content: "\eb65";
  }
  .ico-sublimetext:before {
    content: "\eb66";
  }
  .ico-subversion:before {
    content: "\eb67";
    color: #809cc9;
  }
  .ico-superuser:before {
    content: "\eb68";
    color: #2eace3;
  }
  .ico-swarm:before {
    content: "\eb69";
    color: #ffa633;
  }
  .ico-swift:before {
    content: "\eb6a";
    color: #fa7343;
  }
  .ico-symfony:before {
    content: "\eb6b";
  }
  .ico-synology:before {
    content: "\eb6c";
    color: #b6b5b6;
  }
  .ico-t-mobile:before {
    content: "\eb6d";
    color: #e20074;
  }
  .ico-tails:before {
    content: "\eb6e";
    color: #56347c;
  }
  .ico-tapas:before {
    content: "\eb6f";
    color: #ffce00;
  }
  .ico-teamviewer:before {
    content: "\eb70";
    color: #0e8ee9;
  }
  .ico-ted:before {
    content: "\eb71";
    color: #e62b1e;
  }
  .ico-teespring:before {
    content: "\eb72";
    color: #39ace6;
  }
  .ico-telegram1:before {
    content: "\eb73";
    color: #2ca5e0;
  }
  .ico-tencentqq:before {
    content: "\eb74";
    color: #eb1923;
  }
  .ico-tencentweibo:before {
    content: "\eb75";
    color: #20b8e5;
  }
  .ico-tesla:before {
    content: "\eb76";
    color: #c00;
  }
  .ico-themighty:before {
    content: "\eb77";
    color: #d0072a;
  }
  .ico-themoviedatabase:before {
    content: "\eb78";
    color: #01d277;
  }
  .ico-tidal:before {
    content: "\eb79";
  }
  .ico-tiktok:before {
    content: "\eb7a";
  }
  .ico-tinder:before {
    content: "\eb7b";
    color: #ff6b6b;
  }
  .ico-todoist:before {
    content: "\eb7c";
    color: #e44332;
  }
  .ico-toggl:before {
    content: "\eb7d";
    color: #e01b22;
  }
  .ico-topcoder:before {
    content: "\eb7e";
    color: #29a8e0;
  }
  .ico-toptal:before {
    content: "\eb7f";
    color: #3863a0;
  }
  .ico-tor:before {
    content: "\eb80";
    color: #7e4798;
  }
  .ico-trainerroad:before {
    content: "\eb81";
    color: #e12726;
  }
  .ico-trakt:before {
    content: "\eb82";
    color: #ed1c24;
  }
  .ico-travisci:before {
    content: "\eb83";
    color: #3eaaaf;
  }
  .ico-treehouse:before {
    content: "\eb84";
    color: #5fcf80;
  }
  .ico-trello:before {
    content: "\eb85";
    color: #0079bf;
  }
  .ico-tripadvisor:before {
    content: "\eb86";
    color: #00af87;
  }
  .ico-trulia:before {
    content: "\eb87";
    color: #53b50a;
  }
  .ico-tumblr:before {
    content: "\eb88";
    color: #36465d;
  }
  .ico-twilio:before {
    content: "\eb89";
    color: #f22f46;
  }
  .ico-twitch:before {
    content: "\eb8a";
    color: #6441a4;
  }
  .ico-twitter1:before {
    content: "\eb8b";
    color: #1da1f2;
  }
  .ico-twoo:before {
    content: "\eb8c";
    color: #ff7102;
  }
  .ico-typescript:before {
    content: "\eb8d";
    color: #007acc;
  }
  .ico-typo3:before {
    content: "\eb8e";
    color: #ff8700;
  }
  .ico-uber:before {
    content: "\eb8f";
  }
  .ico-ubisoft:before {
    content: "\eb90";
  }
  .ico-ubuntu:before {
    content: "\eb91";
    color: #e95420;
  }
  .ico-udacity:before {
    content: "\eb92";
    color: #01b3e3;
  }
  .ico-udemy:before {
    content: "\eb93";
    color: #ec5252;
  }
  .ico-uikit:before {
    content: "\eb94";
    color: #2396f3;
  }
  .ico-umbraco:before {
    content: "\eb95";
    color: #00bec1;
  }
  .ico-unity:before {
    content: "\eb96";
  }
  .ico-unsplash:before {
    content: "\eb97";
  }
  .ico-untappd:before {
    content: "\eb98";
    color: #ffc000;
  }
  .ico-upwork:before {
    content: "\eb99";
    color: #6fda44;
  }
  .ico-v8:before {
    content: "\eb9a";
    color: #4b8bf5;
  }
  .ico-vagrant:before {
    content: "\eb9b";
    color: #1563ff;
  }
  .ico-venmo:before {
    content: "\eb9c";
    color: #3d95ce;
  }
  .ico-verizon:before {
    content: "\eb9d";
    color: #cd040b;
  }
  .ico-viadeo:before {
    content: "\eb9e";
    color: #f88d2d;
  }
  .ico-viber:before {
    content: "\eb9f";
    color: #665cac;
  }
  .ico-vim:before {
    content: "\eba0";
    color: #019733;
  }
  .ico-vimeo:before {
    content: "\eba1";
    color: #1ab7ea;
  }
  .ico-vine1:before {
    content: "\eba2";
    color: #11b48a;
  }
  .ico-virb:before {
    content: "\eba3";
    color: #0093da;
  }
  .ico-visa:before {
    content: "\eba4";
    color: #142787;
  }
  .ico-visualstudiocode:before {
    content: "\eba5";
    color: #007acc;
  }
  .ico-vk1:before {
    content: "\eba6";
    color: #6383a8;
  }
  .ico-vlcmediaplayer:before {
    content: "\eba7";
    color: #f80;
  }
  .ico-vsco:before {
    content: "\eba8";
  }
  .ico-vue-dot-js:before {
    content: "\eba9";
    color: #4fc08d;
  }
  .ico-wattpad:before {
    content: "\ebaa";
    color: #f68d12;
  }
  .ico-weasyl:before {
    content: "\ebab";
    color: #900;
  }
  .ico-webcomponents-dot-org:before {
    content: "\ebac";
    color: #29abe2;
  }
  .ico-webpack:before {
    content: "\ebad";
    color: #8dd6f9;
  }
  .ico-webstorm:before {
    content: "\ebae";
    color: #00cdd7;
  }
  .ico-wechat:before {
    content: "\ebaf";
    color: #7bb32e;
  }
  .ico-whatsapp1:before {
    content: "\ebb0";
    color: #25d366;
  }
  .ico-wheniwork:before {
    content: "\ebb1";
    color: #51a33d;
  }
  .ico-wii:before {
    content: "\ebb2";
    color: #8b8b8b;
  }
  .ico-wiiu:before {
    content: "\ebb3";
    color: #8b8b8b;
  }
  .ico-wikipedia:before {
    content: "\ebb4";
  }
  .ico-windows1:before {
    content: "\ebb5";
    color: #0078d6;
  }
  .ico-wire:before {
    content: "\ebb6";
  }
  .ico-wix:before {
    content: "\ebb7";
    color: #faad4d;
  }
  .ico-wolfram:before {
    content: "\ebb8";
    color: #d10;
  }
  .ico-wolframlanguage:before {
    content: "\ebb9";
    color: #d10;
  }
  .ico-wolframmathematica:before {
    content: "\ebba";
    color: #d10;
  }
  .ico-wordpress:before {
    content: "\ebbb";
    color: #21759b;
  }
  .ico-wpengine:before {
    content: "\ebbc";
    color: #40bac8;
  }
  .ico-x-pack:before {
    content: "\ebbd";
    color: #005571;
  }
  .ico-xbox:before {
    content: "\ebbe";
    color: #107c10;
  }
  .ico-xcode:before {
    content: "\ebbf";
    color: #1575f9;
  }
  .ico-xero:before {
    content: "\ebc0";
    color: #13b5ea;
  }
  .ico-xing:before {
    content: "\ebc1";
    color: #006567;
  }
  .ico-xsplit:before {
    content: "\ebc2";
    color: #0095de;
  }
  .ico-yahoo:before {
    content: "\ebc3";
    color: #409;
  }
  .ico-yammer:before {
    content: "\ebc4";
    color: #0072c6;
  }
  .ico-yandex:before {
    content: "\ebc5";
    color: #f00;
  }
  .ico-yarn:before {
    content: "\ebc6";
    color: #2c8ebb;
  }
  .ico-ycombinator:before {
    content: "\ebc7";
    color: #f0652f;
  }
  .ico-yelp:before {
    content: "\ebc8";
    color: #d32323;
  }
  .ico-youtube1:before {
    content: "\ebc9";
    color: #f00;
  }
  .ico-zapier:before {
    content: "\ebca";
    color: #ff4a00;
  }
  .ico-zeit:before {
    content: "\ebcb";
  }
  .ico-zendesk:before {
    content: "\ebcc";
  }
  .ico-zerply:before {
    content: "\ebcd";
    color: #9dbc7a;
  }
  .ico-zillow:before {
    content: "\ebce";
    color: #0074e4;
  }
  .ico-zorin:before {
    content: "\ebcf";
    color: #0cc1f3;
  }